:root {
  --background-skin: #ebe3cc;
  --darkblue: #062d3e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: josefin sans;
}

body {
  background-color: var(--darkblue);
  width: 100vw;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: var(--darkblue);
}

h1 span {
  color: #ed5c01;
}
h1 {
  color: var(--darkblue);
  font-size: 2.5rem;
}
#sign-up-btn {
  background-color: transparent;
  border: none;
  color: var(--darkblue);
  font-size: 16px;
}

.wave {
  position: absolute;
  top: 0;
  z-index: -1;
}

.nav-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
}

.nav-container li a {
  color: var(--darkblue);
  text-decoration: underline dotted #ed5c01;
}

.first-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;
}

.first-section--tittle-and-a a {
  display: inline-block;
  margin-top: 15px;
  background-color: #ed5c01;
  color: #fff;
  padding: 15px;
  border-radius: 30px;
  text-decoration: none;
}

.first-section--img {
  min-width: 280px;
  max-width: 400px;
  position: relative;
  top: 14px;
}

.first-section--img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.second-section {
  background-color: #ed5c01;
  display: flex;
  text-align: center;
  gap: 20px;
  padding: 20px 0;
  justify-content: space-around;
}

.category-sticker-img {
  min-width: 90px;
  max-width: 140px;
}

.category-sticker-img img {
  object-fit: cover;
  width: 100%;
}

.hilo-amarillo {
  position: absolute;
  width: 200px;
  top: 280px;
  right: 0;
  z-index: -1;
}

.slider-container {
  overflow-x: auto;
  display: flex;
  align-items: center;
}

.animals-imgs-container {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.animal-img {
  width: 80px;
  filter: grayscale(100%);
  height: 80px;
}

.animal-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
}

.animal-img:hover {
  filter: grayscale(0%);
  transition: all 0.3s;
  transform: scale(1.1);
}

.third-section {
  padding: 30px 20px;
  background-color: var(--background-skin);
  color: var(--darkblue);
}

.container-cards {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px 0;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.card-rectagular-yellow {
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  background-color: #fbbd08;
  color: var(--darkblue);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 280px;
  max-width: 300px;
  height: 380px;
  padding: 30px 20px;
}
.card-rectagular {
  clip-path: polygon(0 15%, 100% 4%, 100% 84%, 0 100%);
  color: #fff;
  background-color: var(--darkblue);
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  gap: 20px;
  min-width: 250px;
  max-width: 280px;
  height: 410px;
  padding: 80px 20px;
}

.card-img {
  width: 90px;
  height: 90px;
}

.card-img-cloths {
  width: 70px;
  height: 70px;
}

.explore-card-yellow {
  background-color: var(--darkblue);
  width: 100px;
  border-radius: 50px;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.explore-card {
  width: 100px;
  border: 1px solid #fbbd08;
  border-radius: 50px;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.four-section {
  background-color: #189cab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 20px;
}

.parenting-img {
  min-width: 280px;
  max-width: 450px;
}

.parenting-img img {
  object-fit: cover;
  width: 100%;
}

.making-parenting-texts {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 290px;
  max-width: 400px;
  line-height: 1.5rem;
}

.making-parenting-texts h2 {
  font-weight: 300;
}

.making-parenting-texts ul {
  list-style: circle;
  position: relative;
  left: 15px;
}

.six-section {
  display: flex;
  flex-direction: column;
  background-color: #fbbd08;
}

.container-yellow {
  background-color: #fbbd08;
  max-height: 300px;
  
}

.container-orange {
  clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%);
  background-color: #ed5c01;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}

.container-orange p{
  font-size: 1.2rem;
  color: var(--darkblue);
  font-weight: 800;
}


.container-orange input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding: 6px 0;
  max-width: 300px;
}

.container-orange input:focus{
  outline: none;
}

.container-orange input::placeholder{
  color: #fff;
}

.brow-dog-img {
  max-width: 320px;
  margin: 0 auto;
  display: flex;
}

.brow-dog-img img {
  object-fit: cover;
  width: 100%;

}

.second-hilo-yellow {
  position: absolute;
  top: 2100px;
  right: 0;
  z-index: -1;
  width: 80px;
}

.arrow{
  width: 20px;
  position: absolute;
  right: 0;
  top: 2000px;
  
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

footer img{
  width: 100px;
}

footer ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap:10px;
}

footer ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.brow-dog-img{
  position: relative;
  top: 30px;
}

@media screen and (max-width: 550px) {
  header {
    justify-content: space-around;
    padding: 20px 0;
  }
  .nav-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 8px;
    visibility: hidden;
  }

  #nav-burger-btn {
    background-color: transparent;
    border: none;
    color: var(--darkblue);
  }
  .nav-burger-close-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    color: var(--darkblue);
    visibility: hidden;
  }
  .visible {
    visibility: visible;
  }

  .hidden {
    visibility: hidden;
  }

  .margin-top {
    margin-top: 130px;
  }
  h1 {
    color: #a8a8a8;
  }

  .animal-img:active {
    filter: grayscale(0%);
    transition: all 0.2s;
    transform: scale(1.1);
  }

  
}
