@media screen and (min-width:551px ){
    #nav-burger-btn, .nav-burger-close-btn{
        display: none;
    }
}

@media screen and (min-width:768px){
    .first-section{
        flex-direction: row;
        gap: 15px;
    }

    .first-section--tittle-and-a{
        width: 700px;
    }

    .nav-container{
        gap: 30px;
    }

    .four-section{
        flex-direction: row;
    }
    
}

@media screen and (min-width:900px){
    .container-cards{
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}

